<div class="container px-5 px-sm-0">
 <%=render 'validates', book: @book%>
  <div class="row">
   <div class="col-md-3">
     <%= render 'sidebar', book: @booknew %>
   </div>

   <div class="col-md-8 offset-md-1">
     <%= render 'booklist',books: @books %>
   </div>
  </div>
</div>

